@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


/* Pre-owned

width: 31px;
height: 8px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
/* leading-trim: both;
text-edge: cap;
text-transform: uppercase;

Light Sand */
/* color: #FCF7E6; */


/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 0; */
